h1 {
	font-family: 'Alegreya', serif;
	font-weight: 900;
	font-style: italic;
	font-size: 5em;
}
h2, h3 {
	font-family: 'Titillium Web', sans-serif;
}

.menu li {
	display: inline;
	padding: 25px;
	font-size: 1.5em;
}

a:link, a:visited, a:hover, a:focus, a:active {
	text-decoration: none;
}

.title:link, .title:visited, .title:hover, .title:focus, .title:active {
	color: inherit;
}

.island {
	background: #fff;
	border-radius: 10px;
}

.gungrid {
	background: #fff;
	height: 170px;
}

div.island {
	margin-left: 5px;
	margin-right: 5px;
}
th, td {
	text-align: center;
}

body {
	background: #E3F8FF;
}

.info {
	font-size: 1.6em;
}

/* animating the grid: */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}ngrid.ng-enter.ng-enter-active,
.gungrid.ng-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
