md-toolbar h1 {
	font-family: 'Alegreya', serif;
	font-weight: 900;
	font-style: italic;
  font-size: 3em;
  margin: 10px 50px;
  color: #F5C5B5;
}

/* get rid of underlines: */
a:link, a:visited, a:hover, a:focus, a:active {
	text-decoration: none;
}

/* title link looks like text */
.title:link, .title:visited, .title:hover, .title:focus, .title:active {
	color: inherit;
}

md-toolbar a:link, a:visited, a:focus, a:active {
	color: white;
}

md-toolbar a:hover {
	color: #C2F0FF;
}

md-toolbar a:active {
	color: #C2F0FF;
}

md-dialog {
  min-width: 60%;
}
h1, h2, h3 {
	font-family: 'Titillium Web', sans-serif;
}

th, td {
	text-align: center;
}

th {
  margin-top: 20px;
}

td:first-child {
  text-align: right;
}

.menu {
	margin: -10px 0 15px 35px;
}
.menu li {
	display: inline;
	padding: 0 15px;
}

.md-media-sm {
  /* prevents ngMaterial from making a stretched-out
      square image */
  height: auto !important;
}

md-dialog img {
  width: 325px;
}
