<md-dialog aria-label="{{ gun.manufacturer }} {{ gun.name }}">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ gun.manufacturer }} {{ gun.name }} <span ng-if="gun.subname">({{ gun.subname }})</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="info">
          <md-content class="md-padding">
            <div layout="row">
              <div flex="50" ng-if="gun.image">
          			<img ng-src="{{gun.image}}"/>
          		</div>
              <h1 flex="50" class="md-display-2">{{ gun.manufacturer }} {{ gun.name }} <small ng-if="gun.subname">({{ gun.subname }})</small></h1>
            </div>
            <p>{{ gun.description }}</p>
            <ul>
              <li ng-repeat="(key, value) in details"><strong>{{ key }}:</strong> {{ gun[value] }}
              <li ng-repeat="s in gun.printOptions">{{ s }}
            </ul>
            <h3>Dimensions</h3>
            <ul>
        			<li ng-repeat="(key, value) in gun.dimensions"><strong>{{ key }}:</strong> {{ value }} {{ measurementUnits[key] }}
        		</ul>
            <h3>Related</h3>
        		<dl>
        			<span ng-repeat="fam in families">
        				<dt>{{ fam.name }}:</dt>
        				<dd ng-repeat="member in fam.members | filter: {id: '!' + id} : true"><a ng-href="#/{{ member.id }}">{{ member.manufacturer }} {{ member.name }}</a></dd>
        			</span>
        		</dl>
          </md-content>
        </md-tab>
        <md-tab label="videos">
          <md-content class="md-padding">
            <span ng-repeat="v in gun.embed">
        			<span ng-bind-html="v"></span>
        		</span>
          </md-content>
        </md-tab>
        <md-tab label="products">
          <md-content class="md-padding">
            <h1 class="md-display-2">Accessories</h1>
            <span ng-repeat="a in gun.amazonEmbeds">
        			<span ng-bind-html="a"></span>
        		</span>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </form>
</md-dialog>
