<div class="row">
	<div class="col-md-4">
		<h2>Criteria</h2>
		<table class="table table-bordered table-condensed island">
			<tbody ng-repeat="c in criteria.categories" ng-init="$topIndex = $index">
				<tr>
					<td colspan="4"><strong>{{ c.display }}</strong>
				</tr>
				<tr>
					<td><button ng-click="reset()" ng-if="$first">Reset</button>
					<td>Must have
					<td>Can have
					<td>Must not have
				</tr>
				<tr ng-repeat="m in c.members">
					<td>{{ m }}
					<td><input type="radio" ng-model="selections.categories[$topIndex][$index]" value="must" ng-change="checkExclusives($topIndex, $index)">
					<td><input type="radio" ng-model="selections.categories[$topIndex][$index]" value="can">
					<td><input type="radio" ng-model="selections.categories[$topIndex][$index]" value="cant">
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td colspan="4"><strong>Features</strong>
				</tr>
				<tr>
					<td>
					<td>Must have
					<td>Can have
					<td>Must not have
				</tr>
				<tr ng-repeat="o in criteria.options">
					<td>{{ o.display }}
					<td><input type="radio" ng-model="selections.options[$index]" value="must">
					<td><input type="radio" ng-model="selections.options[$index]" value="can">
					<td><input type="radio" ng-model="selections.options[$index]" value="cant">
			</tbody>
		</table>
	</div>
	<div class="col-md-8">
		<h2>Results</h2>
		<input type="radio" ng-model="display" value="table"> table</input>
		<input type="radio" ng-model="display" value="grid"> grid</input>
		<table class="table table-hover island" ng-if="display==='table'">
			<thead>
				<th>Name
				<th>Caliber
				<th>Frame
				<th>Trigger mechanism
			</thead>
			<tbody>
				<tr ng-repeat="gun in guns | filter:masterGun">
					<td><strong><a href="#/{{ gun.id }}">{{ gun.manufacturer }} {{ gun.name }}</a></strong>
					<td>{{ gun.caliber }}
					<td>{{ gun.frame }}
					<td>{{ gun.trigger }}
				</tr>
			</tbody>
		</table>
		<div ng-if="display==='grid'">
			<div class="col-sm-4 col-md-3 gungrid animate-repeat" ng-repeat="gun in guns | filter:masterGun">
				{{ gun.manufacturer }} &ndash; {{ gun.name }}</strong>
				<div>
					<a href="#/{{ gun.id }}" class="thumbnail"><img ng-src="{{gun.image}}" class="img-responsive" /></a>
				</div>
			</div>
		</div>
		<p><em>{{ guns.length }} handguns filtered!</em>
	</div>
</div>
