<div class="row">
	<div class="col-lg-12 info">
		<h2>Privacy</h2>
		<p>I use Google Analytics to keep track of traffic coming to pistolsearch.com. That means Google is using cookies &ndash; small files stored by your web browser &ndash; to help me better understand how people are using the website: It helps figure out where users are coming from, and what they are looking for when they arrive. Google has published <a href="http://www.google.com/policies/privacy/partners/">an explanation of this process</a> to which they request I provide a link.
		<p>I hope to one day transition over to a self-hosted analytics solution, but Pistol Search's current configuration (static hosting on Amazon S3, if you're interested) doesn't allow that to happen quite yet. If it makes you feel better, I've specifically disabled the enhanced "cohort analysis" features of the product that may track demographic information and user interests. I don't need to spy on anybody, I just want to know what people want from the site.
	</div>
</div>
