<div class="row">
	<div class="col-lg-12 info">
		<h2>Gun Search Wizard</h2>
		<div ng-if="!started">
			<p>Hi! This is a quick but prolific questionairre that will walk you through the same questions asked in the "Power Search," but with more context and a slightly smaller pile of radio buttons.
			<p>The first category to be decided is <strong>caliber</strong>, which is the approximate diameter of the barrel required to fire it. (Or: A .45 caliber handgun fires bullets that are about 0.45 inches across. A 9mm handgun fires bullets that are about 9 millimeters across.)
			<p>In reality, however, "caliber" is used as something of a succinct shorthand for <strong>a much more complex range of cartridges</strong>. The most straightforward example of this complexity is the .380 Auto cartridge: Though its name may lead you to assume its bullet is 0.38 inches across, its diameter is about 0.355 inches &ndash; which happens to be exactly 9 millimeters.
			<p>That's just the start of the story, though: The .380 Auto round is far different from the very popular 9mm Luger round. They're both 9 millimeters across, but 9mm Luger is 10.6 percent taller than .380 Auto, and has a maximum pressure more than 58 percent higher. Here they are side by side:
			<div>
				<a href="https://commons.wikimedia.org/wiki/File:380_Auto_vs_9mm_Luger.jpg"><img src="img/wizard/380vs9mm.jpg"></a>
			</div>
			<p>Anyway, you get the idea: "Caliber" means a lot more than just literal diameter.
			<p><button ng-click="startWizard()">START</button>
		</div>
		<hr>
		<div ng-if="started">
			<div ng-if="prompt">
				<h3>{{ prompt.name }}</h3>
				<p><span ng-bind-html="prompt.description"></span>
				<p><button ng-click="choice(prompt.name, 'can')">Can have</button><button ng-click="choice(prompt.name, 'cant')">Can't have</button>
			</div>

			<a class="button" href="#/">Take me to my results!</a>
			<p><em>Selecting the "Can have" option is the same as leaving that line blank: The search won't rule out any weapons based on their having that caliber. "Can't have" will filter out any guns in that category. Selecting "Must have" for one of these will automatically remove any selections you've made elsewhere.</em></p>
		</div>

	</div>
</div>
